services:
  db:
    image: postgres:17
    container_name: postgres_container
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: 83c21e12ba
      POSTGRES_DB: templateTestDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
